
body { 
    
    color: #000000;
    
    background-color: #4057a1;

    font-family: Arial, Helvetica, sans-serif;

    margin: 0 auto;

    width: 90%;

    max-width: 1200px;

    display: grid;

    grid-template-columns: 2.5fr 1fr;
    
}

#Section_Page_Header, #General_description, #Navigation_Bar{

    grid-column: 1 / 3;

}

h1 {

    color: #750000;

    font-size: 65px;

    background-color: #e23a3a;

    border: 6px solid #af1f1f;

    border-radius: 25px;

    padding: 5px;

    width: 770px;

    text-align: center;

    position: absolute;

    top: 40px;

}

header{

    padding: 200px;

    background-image: url(../images/philly_skyline.jpg);

    background-size: cover;

}

#Description_under_title{

    padding: 14px;

    background-color: #efeffac2;

    border-radius: 15px;

    font-weight: bold;

}

#Container{

    background-color: #efeffa;

    width: 140%;


}

article {

    border: 10px solid #e8e8f0

}

h2{

    color: #750000;

    background-color: #e23a3a;

    border-left: 10px double #701515;

    border-radius: 5px;

    padding: 5px;
    
    font-style: italic;

    width: 250px;

    text-align: center;

}

p{

    margin-top: 0px;

    line-height: 1.6em;

    border: 3px dotted #e3e3f1;

}


figure{

    float: right;

    margin: 20px left;

}

.lefttext > figure {

    float: right;

    right: 40px;

    

}

.righttext > figure {

    float: left;

}

.righttext > h2 {

    float: right;

}

.righttext > p {

    margin-right: 10px;

}

ul{

    padding-left: 55px;

}

footer{

    background-color: #606fb1;

    padding: 5px;

    font-weight: bold;

    line-height: 1.5em;

}

#Sources_List{

    grid-column: 1 / 3;

}

a{

    color: #6592f3;

    text-decoration: underline;

    font-weight: normal;
    
}

a:hover { 
    
    color: #ce1b1b; 

}
