
body { 
    
    color: #000000;
    
    background-color: #4057a1;

    font-family: Arial, Helvetica, sans-serif;

    margin: 0 auto;

    width: 100%;

    max-width: 800px;

    display: grid;

    grid-template-rows: 75px 400px;

    grid-auto-rows: max-content;
    
}

nav { grid-row: 1/2; }


header{

    grid-row: 2/3;

    background-image: url(../images/philly_skyline.jpg);

    background-size: cover;

    max-height: 400px;

    justify-content: center;


}

header h1 {

    color: #750000;

    font-size: 35px;

    background-color: #e23a3a;

    border: 3px solid #af1f1f;

    border-radius: 25px;

    padding: 5px 15px 5px 15px;

    width: max-content;

    text-align: center;

    margin-left: auto;

    margin-right: auto;



}

.description {

    padding: 14px;

    background-color: rgb(255, 255, 255, 0.5);

    border-radius: 15px;

    font-weight: bold;

    font-size: 14px;

    width: 65%;

    margin-right: auto;

    margin-left: auto;

}

#Container{

    grid-row: 3/4;

    display: grid;

    grid-auto-rows: max-content;

    background-color: #efeffa;

    width: 100%;


}

article { grid-row: 1/2; }

article figure { float: right; }

aside { grid-row: 2/3; }

aside figure { float: left; }

section { grid-row: 3/4; }

section figure { float: right; }

table { grid-row: 4/5; }

h2{

    color: #750000;

    background-color: #e23a3a;

    border-left: 10px double #701515;

    border-radius: 5px;

    padding: 5px;
    
    font-style: italic;

    width: 250px;

    text-align: center;

    margin-left: 20px;

}

p{

    margin-top: 0px;

    line-height: 1.6em;

    padding-left: 25px;

    padding-right: 25px;

}



ul{

    padding-left: 55px;

}

footer{

    grid-row: 4/5;

    background-color: #606fb1;

    padding: 5px;

    font-weight: bold;

    line-height: 1.5em;

}

a{

    color: #6592f3;

    text-decoration: underline;

    font-weight: normal;
    
}

a:hover { 
    
    color: #ce1b1b; 

}
