<!DOCTYPE html> <!--homepage template-->

<html lang="en">

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav id="Navigation bar">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</nav>

		<header id="General description">
			<h1 id="Title within background image"></h1>
			<p id="Description under title"></p>
		</header>

		<div id="Container">

			<article>

				<figure id="Image to go with the backstory">
				</figure>
				<h2 id="Header for backstory"></h2>
				<p></p>
				<p></p>
				<p></p>

			</article>

		</div>	

		<footer id="Sources List">
			<h2>Sources</h2>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</footer>

	</body>
</html>