<!DOCTYPE html> <!--subpage template-->

<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Feature Films</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div> <!--container-->
			<header>
				<h1></h1>
			</header>

			<nav>
			</nav>

			<article>

				<h2></h2>

				<h3></h3>
				<figure>
				</figure>
				<p></p>
				<p></p>
				<p></p>
				<p></p>

				<h3></h3>
				<figure>
				</figure>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
		</div>	

		</article>

	</body>
</html>